<div class="center">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-trademark fa-stack-1x"></i>
  </span>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Applicantion Information</h3>
  </div>
  <div class="panel-body">
    <%= @user.mark.each do |mark| %>
      <p>Contact: <%= mark.contact %></p>
      <p>Contact email address: <%= mark.email %></p>
      <p>Contact mailing address: <%= mark.address %></p>
      <p>Mark owner: <%= mark.owner %></p>
      <p>Description: <%= mark.description %></p>
      <p>Colors: <%= mark.colors %></p>
      <p>First Use in Commerce: <%= mark.commerce %></p>
      <p>First Use Anywhere: <%= mark.anywhere %></p>
      <p>Products & Services: <%= mark.products %></p>
      <p>Serial No.: <%= mark.serial %></p>
      <p>Registration Date: <%= mark.registration %></p>
      <p>Next Filing Deadline: <%= mark.next %></p>
      <!-- need to add IC to database and then render here (Cathy please disregard for now) -->
    <% end %>
  </div>
</div>