<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @mark.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mark.email %>
</p>

<p>
  <strong>Mark Owner:</strong>
  <%= @mark.owner %>
</p>

<p>
  <strong>Owner Entity Type:</strong>
  <%= @mark.entity %>
</p>

<p>
  <strong>Owner Mailing Address</strong>
  <%= @mark.address %>
</p>

<p>
  <strong>Mark Description:</strong>
  <%= @mark.description %>
</p>

<p>
  <strong>Mark Colors:</strong>
  <%= @mark.colors %>
</p>

<p>
    <strong>First Use Anywhere:</strong>
    <%= @mark.anywhere %>
</p>

<p>
    <strong>First Use in Commerce:</strong>
    <%= @mark.commerce %>
</p>

<p>
    <strong>Products and Services:</strong>
    <%= @mark.products %>
</p>

<p>
    <strong>Serial No.:</strong>
    <%= @mark.serial %>
</p>

<p>
    <strong>Registration No.:</strong>
    <%= @mark.registration %>
</p>

<p>
    <strong>Next Deadline:</strong>
    <%= @mark.next %>
</p>

<%= link_to 'Back', attorneys_path %>
