

<div class="row-fluid col-md-6 clearfix">
  <div class="span4 well">
    <%= simple_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <fieldset >
      <legend><%= operation %> User</legend>
      <%= f.input :name %>
      <%= f.input :email %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </fieldset >
    <% end %>
  </div>
</div>
</div>
