<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <strong><%= @user.email %></strong>
    </section>
  </aside>
</div>
    
    <br>
    <br>
    <fieldset>
      <legend>Files      <span class="glyphicon glyphicon-folder-open"></span></legend>
      <p><%= @user.name %>'s files:</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "New Folder", '#' %></button>
        <button class="btn btn-xs"><%= link_to "Add Document", '#' %></button>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset>
      <legend>Calendar      <span class="glyphicon glyphicon-calendar"></span></legend>
      <p><%= @user.name %>'s calendar:</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "Add Event", '#' %></button>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset>
      <legend>To Do Lists      <span class="glyphicon glyphicon-text-size"></span></legend>
      <p><%= @user.name %>'s to do list:</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "New To Do Item", '#' %></button>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset>
      <legend>Attorneys      <span class="glyphicon glyphicon-briefcase"></span></legend>
      <p><%= @user.name %>'s virtual legal department:</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "Find Attorneys", '#' %></button>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset>
      <legend>Budget      <span class="glyphicon glyphicon-usd"></span></legend>
        <p>Legal budget for [YEAR] is $</p>
        <p>Legal spend for [MONTH, YEAR] is $</p>
        <p>Legal spend for [YEAR] to date is $</p>
        <p>Remainder is $</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "Update Budget", '#' %></button>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset>
      <legend>Companies        <span class="glyphicon glyphicon-shopping-cart"></span></legend>
        <p><%= @user.name %>'s companies:</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "New Entity", new_corp_path %></button>
        <button class="btn btn-xs"><%= link_to "New Minutes", new_minute_path %></button>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset>
      <legend>Trademarks      <span class="glyphicon glyphicon-registration-mark"></span></legend>
      <p><%= @user.name %>'s trademarks:</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "Register a New Trademark", new_mark_path %></button>
        <button class="btn btn-xs"><%= link_to "Edit an Existing Mark", edit_mark_path %></button>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset>
      <legend>WebDocs      <span class="glyphicon glyphicon-floppy-disk"></span></legend>
        <p><%= @user.name %>'s web documents:</p>
      <div class="center">
        <button class="btn btn-xs"><%= link_to "Create New TOS", new_webdoc_path %></button>
      </div>
    </fieldset>
    
  


