<div class="container user-container">
<div class="row user-header">
  <div class="col-sm-3 col-md-offset-3">
      <%= round_gravatar_for @user, size: 70 %></td>
  </div>
  <div class="col-sm-3">
    <h1><%= @user.name %></h1>
  </div>
</div>
<% if !admin? %>
  <div class="row">
    <!-- <div class="col-sm-3"></div> -->
    <div class="col-sm-3">
      <div class="panel panel-default  text-center price-headline">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Annual Budget</h4>
          </div>
        </div>
        <div class="panel-body text-center price-headline">
          <h4>$<%= ActiveSupport::NumberHelper::number_to_currency(@user.budgets.first.annual_amount,{precision: 0,unit: ''})%></h4>
        </div>
      </div><!-- panel default -->
    </div><!-- col-sm-3 -->

    <div class="col-sm-3">
      <div class="panel panel-default  text-center price-headline">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Spend This Month</h4>
          </div>
        </div>
        <div class="panel-body text-center price-headline">
          <h4>$<%= ActiveSupport::NumberHelper::number_to_currency(@user.budgets.first.spend_this_month,{precision: 0,unit: ''})%></h4>
        </div>
      </div><!-- panel default -->
    </div><!-- col-sm-3 -->


    <div class="col-sm-3">
      <div class="panel panel-default text-center price-headline">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Spend This Year</h4>
          </div>
        </div>
        <div class="panel-body text-center price-headline">
          <h4>$<%= ActiveSupport::NumberHelper::number_to_currency(@user.budgets.first.spend_this_year,{precision: 0,unit: ''})%></h4>
        </div>
      </div><!-- panel default -->
    </div><!-- col-sm-3 -->

    <div class="col-sm-3">
      <div class="panel panel-default  text-center">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Remaining</h4>
          </div>
        </div>
        <div class="panel-body text-center price-headline">
          <h4>$<%= ActiveSupport::NumberHelper::number_to_currency(@user.budgets.first.remaining,{precision: 0,unit: ''})%></h4>
        </div>
      </div><!-- panel default -->
    </div><!-- col-sm-3 -->
  </div><!-- row -->

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-legal pull-left" style="padding-right: 20px;"></i>
            <h4>Lawyers</h4>
          </div>
        </div>
        <div class="panel-body" style="padding:0;">
          <table class="table table-condensed table-bordered table-striped table-hover table-responsive" >
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user.attorneys.each do |attorney| %>
                <tr>
                  <td><%= attorney.name %></td>
                  <td><%= attorney.email %></td>
                  <td>
                    <%= link_to "Edit", edit_users_attorney_path(@user, attorney) %>
                    <%= link_to 'Delete', attorney_path(@user, attorney),
                                data: {:confirm => 'Are you sure?'}, :method => :delete %>
                  </td>
                </tr>
                <tr>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to new_attorney_path(@user), class: 'btn btn-xs btn-success' do %>
              <i class="glyphicon glyphicon-plus"></i> New
          <% end %>
        </div><!-- panel body -->
      </div><!-- panel default -->
    </div><!-- col -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-check pull-left" style="padding-right: 20px;"></i>
            <h4>Todo</h4>
          </div>
        </div>
        <div class="panel-body" style="padding:0;">
          <table class="table table-condensed table-bordered table-striped table-hover table-responsive" >
            <thead>
              <tr>
                <th>Task</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user.todos.each do |task| %>
                <tr>
                  <td><%= task.item %></td>
                  <td>
                    <%= link_to "Edit", edit_todo_path(task) %>
                    <%= link_to 'Delete', todo_path(task),
                              data: {:confirm => 'Are you sure?'}, :method => :delete %>

                  </td>
                </tr>
                <tr></tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to new_todo_path(:user_id => @user.id), class: 'btn btn-xs btn-success' do %>
              <i class="glyphicon glyphicon-plus"></i> New
          <% end %>
        </div><!-- panel body -->
      </div><!-- panel default -->
    </div><!-- col-md-6-->
  </div><!-- row -->




  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-group pull-left" style="padding-right: 20px;"></i>
            <h4>Companies</h4>
          </div>
        </div>
        <div class="panel-body" style="padding:0;">
          <table class="table table-condensed table-bordered table-striped table-hover table-responsive" >
            <thead>
              <tr>
                <th>Company</th>
                <th>Business</th>
                <th>Next Action</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user.corps.each do |corp| %>
                <tr>
                  <td><%= corp.company %></td>
                  <td><%= corp.business %></td>
                  <td><%= corp.next.strftime("%m/%d/%Y") %></td>
                <td>
                  <%= link_to "Edit", edit_user_corp_path(@user, corp) %>
                  <%= link_to 'Delete', user_corp_path(@user, corp),
                            data: {:confirm => 'Are you sure?'}, :method => :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to new_user_corp_path(:user_id => @user.id), class: 'btn btn-xs btn-success' do %>
            <i class="glyphicon glyphicon-plus"></i> New
        <% end %>
        </div><!-- panel body -->
      </div><!-- panel default -->
    </div><!-- col -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-certificate pull-left" style="padding-right: 20px;"></i>
            <h4>Trademarks</h4>
          </div>
        </div>
        <div class="panel-body" style="padding:0;">
          <table class="table table-condensed table-bordered table-striped table-hover table-responsive" >
            <thead>
              <tr>
                <th>Serial</th>
                <th>Description</th>
                <th>registration</th>
                <th>Next Action</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user.marks.each do |mark| %>
                <tr>
                  <td><%= mark.serial %></td>
                  <td><%= mark.description %></td>
                  <td><%= mark.registration %></td>
                  <td><%= mark.next.strftime("%m/%d/%Y") %></td>
                <td>
                  <%= link_to "Edit", edit_user_mark_path(@user, mark) %>
                  <%= link_to 'Delete', user_mark_path(@user, mark),
                            data: {:confirm => 'Are you sure?'}, :method => :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to new_user_mark_path(:user_id => @user.id), class: 'btn btn-xs btn-success' do %>
            <i class="glyphicon glyphicon-plus"></i> New
        <% end %>
        </div><!-- panel body -->
      </div><!-- panel default -->
    </div><!-- col-md-6-->
  </div><!-- row -->
  <div class="row">

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <i class="fa fa-usd pull-left" style="padding-right: 20px;"></i>
              <h4>Expenses</h4>
            </div>
          </div>
          <div class="panel-body" style="padding:0;">
            <table class="table table-condensed table-bordered table-striped table-hover table-responsive" >
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Vendor</th>
                  <th>Amount</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @user.expenses.each do |expense| %>
                  <tr>
                    <% add_to_expenses_total(expense.amount) %>
                    <td><%= expense.date.strftime("%m/%d/%Y") %></td>
                    <td><%= expense.vendor %></td>
                    <td>$<%= ActiveSupport::NumberHelper::number_to_currency(expense.amount,{precision: 2,unit: ''}) %></td>
                    <td>$<%= ActiveSupport::NumberHelper::number_to_currency(@expenses_total,{precision: 2,unit: ''}) %></td>
                    <td>
                      <%= link_to "Edit", edit_user_expense_path(@user, expense) %>
                      <%= link_to 'Delete', user_expense_path(@user, expense),
                                data: {:confirm => 'Are you sure?'}, :method => :delete %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to new_user_expense_path(:user_id => @user.id), class: 'btn btn-xs btn-success' do %>
                <i class="glyphicon glyphicon-plus"></i> New
            <% end %>
          </div><!-- panel body -->
        </div><!-- panel default -->
      </div><!-- col -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <i class="fa fa-usd pull-left" style="padding-right: 20px;"></i>
              <h4>Fees</h4>
            </div>
          </div>
          <div class="panel-body" style="padding:0;">
            <table class="table table-condensed table-bordered table-striped table-hover table-responsive" >
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Rate</th>
                  <th>Hours</th>
                  <th>Charge</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @user.fees.each do |fee| %>
                  <% add_to_fees_total(fee.charge) %>
                  <tr>
                  <td><%= fee.date.strftime("%m/%d/%Y") %></td>
                  <td><%= fee.rate %></td>
                  <td><%= fee.hours %></td>
                  <td>$<%= ActiveSupport::NumberHelper::number_to_currency(fee.charge,{precision: 2,unit: ''}) %></td>
                  <td>$<%= ActiveSupport::NumberHelper::number_to_currency(@fees_total,{precision: 2,unit: ''}) %></td>
                  <td>
                    <%= link_to "Edit", edit_user_fee_path(@user, fee) %>
                    <%= link_to 'Delete', user_fee_path(@user, fee),
                              data: {:confirm => 'Are you sure?'}, :method => :delete %>

                  </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to new_user_fee_path(:user_id => @user.id), class: 'btn btn-xs btn-success' do %>
                <i class="glyphicon glyphicon-plus"></i> New
            <% end %>
          </div><!-- panel body -->
        </div><!-- panel default -->
      </div><!-- col-md-6-->
    </div><!-- row -->
    <div class="row">
  <% end %>
</div>
