<div class="row-fluid col-md-6 clearfix">
  <div class="span4 well">

    <%= simple_form_for [@user, @minute]  do |f| %>

      <% if @minute.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@minute.errors.count, "error") %> prohibited this minute from being saved:</h2>
          <ul>
          <% @minute.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <fieldset >
      <legend><%= operation %> Minutes</legend>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :company %>
      <%= f.input :date %>
      <%= f.input :kind %>
      <%= f.input :attendees %>
      <%= f.input :notice %>
      <%= f.input :vote %>
      <%= f.input :resolutions %>
      <%= f.input :additional %>
      <div class="actions">
        <%= f.button :submit %>
      </div>
    </fieldset >
    <% end %>
  </div>
</div>
</div>
