
<div class="row-fluid col-md-6">
  <div class="span4 well">
    <%= simple_form_for @attorney do |f| %>
      <% if @attorney.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@attorney.errors.count, "error") %> prohibited this attorney from being saved:</h2>
          <ul>
          <% @attorney.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <fieldset >
      <legend><%= operation %> Attorney</legend>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <div class="actions">
        <%= f.button :submit %>
        <%= link_to 'Cancel', attorneys_path, class: "btn btn-lg btn-danger"%>
      </div>
    </fieldset >
    <% end %>
</div>
  </div>
</div>
</div>
