
<h1 class="jumbo-h3"><span class="gold">O</span>liver<span class="gold">C</span>larity</h1>



<div class="panel panel-default table-data">
  <div class="panel-heading">
    <h3 class="panel-title">
    <i class="fa fa-legal pull-left" style="padding-right: 20px;"></i>
    <%= link_to new_attorney_path, class: 'btn btn-xs btn-success  pull-right', style: 'color:white' do %>
        <i class="glyphicon glyphicon-plus "></i>
    <% end %>
    Lawyers</h3>
  </div>
  <div class="panel-body" style="padding:0;">
    <table class="table table-striped table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @attorneys.each do |attorney| %>
          <tr>
            <td><%= link_to attorney.name, attorney %></td>
            <td><%= attorney.address %></td>
            <td><%= attorney.email %></td>
            <td><%= attorney.phone %></td>
            <td>
              <%= link_to attorney, method: :delete, remote: true, data:{confirm: "Delete?"}, class: "btn btn-sm btn-danger" do %>
              <span class="glyphicon glyphicon-trash"></span>
              <% end %>
              <%= link_to attorney, class: "btn btn-success btn-sm" do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <%= link_to edit_attorney_path(attorney), class: "btn btn-info btn-sm" do %>
                <span class="glyphicon  glyphicon-pencil"></span>
              <% end %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
