<div class="row-fluid col-md-6 clearfix">
  <div class="span4 well">

    <%= simple_form_for [@user, @corp]  do |f| %>

      <% if @corp.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@corp.errors.count, "error") %> prohibited this expense from being saved:</h2>
          <ul>
          <% @corp.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <fieldset >
      <legend><%= operation %> corp</legend>
      <%= f.input :contact %>
      <%= f.input :email %>
      <%= f.input :entity %>
      <%= f.input :owners %>
      <%= f.input :office %>
      <%= f.input :state %>
      <%= f.input :company %>
      <%= f.input :business %>
      <%= f.input :regagent %>
      <%= f.input :regoffice %>
      <%= f.input :incorporation, as: :date, html5: true %>
      <%= f.input :ein %>
      <%= f.input :next, as: :date, html5: true %>
      <div class="actions">
        <%= f.button :submit %>
        <%= link_to 'Cancel', user_path(@user), class: "btn btn-lg btn-danger"%>
      </div>
    </fieldset >
    <% end %>
  </div>
</div>
</div>
