<div class="row-fluid col-md-6 clearfix">
  <div class="span4 well">

    <%= simple_form_for [@user, @fee]  do |f| %>

      <% if @fee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fee.errors.count, "error") %> prohibited this fee from being saved:</h2>
          <ul>
          <% @fee.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <fieldset >
      <legend><%= operation %> Fee</legend>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :rate %>
      <%= f.input :hours %>
      <%= f.input :charge %>
      <div class="actions">
        <%= f.button :submit %>
        <%= link_to 'Cancel', user_path(@user), class: "btn btn-lg btn-danger"%>
      </div>
    </fieldset >
    <% end %>
  </div>
</div>
</div>
