<%= form_for(expense) do |f| %>
    <% if expense.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(expense.errors.count, "error") %> prohibited this entry from being saved:</h2>
        
        <ul>
            <% expense.error.full_messages.each do |message| %>
            <li><%= message %> </li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <br>
    <br>
    <fieldset>
        <legend>New Expense</legend>
            <div class="field">
                <%= f.label :date %>
                <br>
                <%= f.date_select :date %>
                <br>
                <%= f.label :vendor %>
                <br>
                <%= f.text_field :vendor %>
                <br>
                <%= f.label :amount %>
                <br>
                <%= f.text_field :amount %>
            </div>
    </fieldset>
    
<div class="center">
    <%= f.submit "Submit", class: "btn btn-sm" %>
    <% end %>
</div>