<!DOCTYPE html>
<html>
<head>
  <title>OliverClarity</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div style = "padding-top:0px;"  id="main-container" class="container">
    <div class="row">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>
    </div>
    <div class="row">

    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
